.col1{background-color:red;}
.col2{background-color: green;}
.col3{background-color: blue;}
.uno{color: teal;}
.dos{color: red;}
.tres{color: blue;}
.cuatro{color: orange;}
.cinco{color: purple;}
.seis{color: olive;}
.siete{color: fuchsia;}
.ocho{color: green;}
